html,
body {
    margin: 0;
    padding: 5;
    background-color: blue;
    font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    color: #faa;
    font-size: 12px;
}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

button {
    padding: 5px;
    margin: 5px;
}
